#footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: var(--steel-900);
  margin-top: 80px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro';
}
#shape-friends-img {
  position: absolute;
  height: 254px;
  width: 300px;
  bottom: 93px;
  left: calc(50vw - 160px);
}
#footer-top {
  color: var(--steel-000);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
#footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Source Code Pro';
}
#footer-logo > .logo-d2-label {
  color: var(--steel-000);
}
#footer-playground-label {
  color: var(--steel-300);
}
#discord-icon {
  margin-right: 8px;
}
#github-icon {
  width: 22px;
  height: 22px;
}
#footer-divider {
  height: 1px;
  width: 100%;
  background-color: var(--steel-800);
}
#footer-bottom {
  margin-top: 32px;
  color: var(--steel-000);
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
}
.footer-bottom-content {
  display: flex;
  align-items: center;
}
#footer-logo {
  width: 95px;
  height: 20px;
  margin-left: 8px;
}
.footer-vertical-divider {
  width: 4px;
  height: 18px;
  color: var(--steel-000);
}
