@import "./notification.css";
@import "./modal.css";
@import "./range.css";
@import "./button.css";
@import "./toggle.css";

@import "./header.css";
@import "./hero.css";
@import "./workstation.css";
@import "./monaco.css";
@import "./snippets.css";
@import "./footer.css";

@import "./responsive.css";

:root {
  --shadow-md: 1px 1px 8px rgba(31, 36, 58, 0.1);
  --shadow-lg: 0px 0px 16px rgba(31, 36, 58, 0.1);

  --steel-000: #ffffff;
  --steel-050: #f8f8f8;
  --steel-100: #eef1f6;
  --steel-200: #dee1eb;
  --steel-300: #c8cbd9;
  --steel-400: #a7acbd;
  --steel-550: #6d7284;
  --steel-800: #2e3346;
  --steel-850: #1c2132;
  --steel-900: #0a0f25;

  --blue-025: #f7f8fe;
  --blue-050: #ecf0fd;
  --blue-100: #e0e7ff;
  --blue-200: #bccaff;
  --blue-300: #94abff;
  --blue-400: #6b8afb;
  --blue-500: #4a6ff3;
  --blue-600: #234cda;
  --blue-600-filter: brightness(0) saturate(100%) invert(21%) sepia(100%) saturate(3335%)
    hue-rotate(227deg) brightness(88%) contrast(94%);
  --alert-100: #ffcfd8;
  --alert-200: #ff8096;
  --alert-300: #f35471;
  --alert-400: #d62852;
  --alert-500: #be0b41;
  --alert-600: #99001c;
  --alert-600-filter: brightness(0) saturate(100%) invert(15%) sepia(66%) saturate(7196%)
    hue-rotate(342deg) brightness(59%) contrast(110%);

  --border-radius: 8px;
  --code-snippet-card-padding: 12px;
  --code-snippet-card-margin: 24px;

  --switch-width: 1.75rem;
  --switch-height: 0.75rem;
  --toggle-height: calc(0.75rem + 4px);
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("../fonts/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: "Source Sans Pro Medium";
  src: url("../fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Regular.ttf");
}

* {
  font-weight: normal;
}

html {
  background: var(--blue-025);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  position: relative;
  font-family: "Source Sans Pro";
}

#body {
  position: relative;
  overflow-x: hidden;
}

#container {
  position: relative;
  margin: 24px 2rem;
}
